<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Ankit13Ranjan</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="image/self.jpg" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Satisfy" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

 
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex justify-content-center align-items-center header-transparent">

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="#about">About</a></li>
        <li><a class="nav-link scrollto" href="#education">Education</a></li>
        <li><a class="nav-link scrollto" href="#skills">Skills</a></li>
        <li><a class="nav-link scrollto " href="#experience">Experience</a></li>
        <li><a class="nav-link scrollto " href="#projects">Projects</a></li>
        <li><a class="nav-link scrollto " href="#achievements">Achievements</a></li>
        <li><a class="nav-link scrollto " href="#contact">Contact</a></li>

        
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="hero-container">
      <div class="container" data-aos="zoom-in" data-aos-delay="100">
        <h1>Ankit Ranjan</h1>
        <!-- <p>I'm <span class="typed-text" data-typed-items="Developer, Freelancer, Designer"></span></p> -->
        <p>
          I'm
          <a href="" class="typewrite" data-period="2000" data-type='[ "Developer", "Programmer", "Freelancer." ]'>
             <span class="wrap"></span>
          </a>
        </p>
        <div class="social-links">
          <a href="https://twitter.com/AnkitRa04493205" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="https://www.facebook.com/ankit.ranjan.756412" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="https://www.instagram.com/ankit__13_/?hl=en" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="https://github.com/Ankit13ranjan" class="github"><i class="bi bi-github"></i></a>
                    <a href="https://www.linkedin.com/in/ankit-ranjan-685775193/" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
      <a href="#about" class="btn-scroll scrollto" title="Scroll Down"><i class="bx bx-chevron-down"></i></a>
    </div>
    
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Me Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <span>About Me</span>
          <h2>About Me</h2>
          <p>My Self Ankit Ranjan. I am Software Development Learning Enthusiast.</p>
        </div>

        <div class="row">
          <div class="image col-lg-4 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
          <div class="col-lg-8 my-5 d-flex flex-column align-items-stretch">
            <div class="content ps-lg-4 d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-lg-6">
                  <ul>
                    <li><i class="bi bi-chevron-right"></i> <strong>Name:</strong> <span>Ankit Ranjan</span></li>
                    <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>ankitranjan.netlify.app</span></li>
                    <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+91 6206731576</span></li>
                    <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Mahua, Bihar, India</span></li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul>
                    <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>21</span></li>
                    <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>B.tech</span></li>
                    <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>ranjanankit1313@gmail.com</span></li>
                    <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                  </ul>
                </div>
              </div>
              <p class="my-5">A Highly motivated individual with in-depth knowledge of languages and development tools, seeking a position in a growth-oriented company where I can use my skills to the advantage of the company while having the scope to develop my own skills.</p>
            </div><!-- End .content-->

            
          </div>
        </div>

        <div class="row">
          
          <div class="col-md-6 col-sm-12 my-3">
            <div class="project_card p-3">
                <div class="d-flex justify-content-center align-items-center">

                    <img class="lcwidth" src="/image/leetcode.png" alt="">
                </div>
                <div class="my-3 text-white">
                    <div class="row">
                        
                        <div class="col-md-2">
                            <a href="https://leetcode.com/Ankit_1331/"><img width="43px" src="/image/lclogo.png" alt=""></a>
                            
                        </div>
                        <div class="col-md-3">
                            <h4>Leetcode</h4>
                            
                        </div>
                    </div>
                    
                    
                </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-12 my-3">
            <div class="project_card p-3">
                <div class="d-flex justify-content-center align-items-center">

                    <img class="w-100" src="/image/gfg.png" alt="">
                </div>
                <div class="my-3 text-white">
                    <div class="row">
                        
                        <div class="col-md-2">
                  <a href="https://auth.geeksforgeeks.org/user/ranjanankit/practice/"><img src="/image/gfg-logo.png"width="43px"></a>
                        </div>
                        <div class="col-md-3">
                            <h4>GeeksforGeeks</h4>
                            
                        </div>
                    </div>
                    
                    
                </div>
            </div>
          </div>

          
        </div>

      </div>
    </section><!-- End About Me Section -->

    <!-- ======= My Education Section ======= -->
    <section id="education" class="education">
      <div class="container">

        <div class="section-title">
          <span>Education</span>
          <h2>Education</h2>
          <p>My Education Details Till Now.</p>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-12 mt-3">
              <div class="box_education">
              <div class="row">
                
                <div class="col-md-4 edu_sec_height  d-none d-sm-block">
                  
                  <h3 class="text-end  text-primary">B.tech</h3>
                </div>

                <div class="col-md-8 col-sm-12">
                  <h3 class=" education_head text-center text-primary">B.tech</h3>

                  <p class="text-center">Amritsar College Of Engineering <br> & Technology , Amritsar</p>
                  <p class="text-center"><span class="text-warning">Batch -</span> <span> 2019 - 2023</span></p>
                  <p class="text-center"><span class="text-warning">S.G.P.A -</span> <span> 7.7</span></p>
                </div>
                
              </div>


              <div class="row">
                
                
                

                <div class="col-md-8 col-sm-12">
                  <h3 class=" education_head text-center text-primary">Sr. Secondary</h3>

                  <p class="text-center">St. Xavier's Jr./Sr. School <br> Muzaffarpur , Bihar</p>
                  <p class="text-center"><span class="text-warning">Board -</span> <span> CBSE</span></p>

                  <p class="text-center"><span class="text-warning">Batch -</span> <span> 2016 - 2018</span></p>
                  <p class="text-center"><span class="text-warning">Percentage -</span> <span> 73.2</span></p>
                </div>

                <div class="col-md-4 edu_sec_height d-none d-sm-block">
                  
                  <h3 class="text-primary">Sr. Secondary</h3>
                </div>
              </div>


              <div class="row">
                
                <div class="col-md-4 edu_sec_height d-none d-sm-block">
                  
                  <h3 class="text-end text-primary">10 <sup>th</sup></h3>
                </div>

                <div class="col-md-8 col-sm-12">
                  <h3 class=" education_head text-center text-primary">10 <sup>th</sup></h3>

                  <p class="text-center">North Point Children's School <br> Muzaffarpur , Bihar</p>
                  <p class="text-center"><span class="text-warning">Board -</span> <span> ICSE</span></p>

                  <p class="text-center"><span class="text-warning">Batch -</span> <span> 2016</span></p>
                  <p class="text-center"><span class="text-warning">Percentage -</span> <span> 78.2</span></p>
                </div>
                
              </div>

                
              </div>
            </div>
            <div class="col-md-4 col-sm-12 my-3">
              <div class="d-flex justify-content-center align-items-center">

                <img class="w-25" src="image/angle-down-solid.svg" alt="">
              </div>

              <div class="box_edu2 d-flex justify-content-center align-items-center">
                
                <div class="resume_box d-flex justify-content-center align-items-center">
                  <a class="p-3 text-center" href="/Resume/AnkitRanjanResume.pdf" download>
                    <b> Download Resume  </b>
                  </a>
                </div>
              </div>
            </div>
            
          </div>

            
              
        </div>

        
      </div>
    </section><!-- End Education Section -->

    <!-- ======= My Skills Section ======= -->
    <section id="skills" class="skills">
      <div class="container">
        <div class="section-title">
          <span>Skills</span>
          <h2>Skills</h2>
        </div>


        <div class="row">
          <div class="col-md-6">
            <div class="skills-content ps-lg-4">
              <div class="progress">
                <span class="skill">C <i class="val">90%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
    
              <div class="progress">
                <span class="skill">C++ <i class="val">95%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
    
              <div class="progress">
                <span class="skill">Java <i class="val">75%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              
              <div class="progress">
                <span class="skill">SQL <i class="val">80%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">Android <i class="val">60%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">NodeJs <i class="val">85%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">MongoDB <i class="val">95%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

            </div>
          </div>
          <div class="col-md-6">
            <div class="skills-content ps-lg-4">
              <div class="progress">
                <span class="skill">HTML <i class="val">100%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
    
              <div class="progress">
                <span class="skill">CSS <i class="val">80%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
    
              <div class="progress">
                <span class="skill">JavaScript <i class="val">70%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div class="progress">
                <span class="skill">Bootstrap <i class="val">80%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div class="progress">
                <span class="skill">React <i class="val">75%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div class="progress">
                <span class="skill">Express <i class="val">80%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

                <div class="progress">
                <span class="skill">REST API <i class="val">75%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>


            </div>
          </div>

          
        </div>

        <div class="skills-content ps-lg-4">
          <div class="progress">
            <span class="skill">DSA <i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          
        </div>


        
      </div>
    </section><!-- End My Skills Section -->

    

    <!-- ======= My Experience Section ======= -->
    <section id="experience" class="experience">
      <div class="container">

        <div class="section-title">
          <span>My Experience</span>
          <h2>My Experience</h2>
        </div>


        <div class="container">
          <div class="box_edu p-3">
            <div class="d-flex">
              <div class="line">
              </div>
              <div>
                <div class="exp">
                  <h3 class="exp_head"> <b>Training</b></h3>
                  <span>Web - Technology</span> <br>
                  <small> ~ VMM Education</small>
                  <br>
                  <br>
                  <span>Project : E-medicare
                  </span>
                  <br>
                  <p>06/2021 - 07/2021</p>
                  <p><span>Online Website for Ordering Medicines. </span> <br> <span>Having CRUD Functionality for dynamic nature.
                  </span></p>
                  <span><b>Frontend: </b> <span>Html, Css, JavaScript, Bootstrap</span></span> <br>
                  <span><b>Backend:</b> <span>SQL, PHP</span></span>
                </div>
                <div class="exp">
                  <h3 class="exp_head"> <b>Chapter Lead</b></h3>
                  <span>Codechef</span> <br>
                  <br>
                  <br>
                  <span>Event Lead
                  </span>
                  <br>
                  <p>08/2021 - 01/2022</p>
                  <p><span>Have Experience of Hosting More than 10 Coding Contest.

                    </span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        

        
      </div>
    </section><!-- End My Experience Section -->

    <!-- ======= Projects Section ======= -->
    <section id="projects" class="projects">
      <div class="container">

        <div class="section-title">
          <span>Projects</span>
          <h2>Projects</h2>
          <p>Projects Which is have Created Till Now in Different Tech stacks</p>
        </div>


        <div class="row">
          <div class="col-md-4 col-sm-12 my-3">
            <div class="project_card p-3">
              <div class="d-flex justify-content-center align-items-center img-hover-zoom">
                <img class="w-75" src="/image/moviesx.png">
              </div>
              <div class="my-3 text-white">
                <a href="https://sawmovies.netlify.app/"><h4>MoviesX</h4></a>
                <p>A Responsive Website having Details of mainy Movies. Movies We Can Search Based On their Category.</p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-12 my-3">
            <div class="project_card p-3">
              <div class="d-flex justify-content-center align-items-center img-hover-zoom">
                <img class="w-75" src="/image/news.jpg">
              </div>
              <div class="my-3 text-white">
                <a href="https://github.com/Ankit13ranjan/Daily-News"><h4>Daily News</h4></a>
                <p>A Daily News Website that Contains Daily News Across the World. Contains Detailed News Based On Different Category.</p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-12 my-3">
            <div class="project_card p-3">
              <div class="d-flex justify-content-center align-items-center img-hover-zoom">
                <img class="w-75" src="/image/weather.png">
              </div>
              <div class="my-3 text-white">
                
                <a href="https://github.com/Ankit13ranjan/Weather_NodeJS"><h4>Mausam</h4></a>
                <p>A Weather App which is totally Responsive that Shows Detailed Weather of Different Places across the World.</p>
              </div>
            </div>
          </div>
        </div>



        <div class="row">
          <div class="col-md-4 col-sm-12 my-3">
            <div class="project_card p-3">
              <div class="d-flex justify-content-center align-items-center img-hover-zoom">
                <img class="w-75" src="/image/workout.jpg">
              </div>
              <div class="my-3 text-white">
                
                <a href="https://github.com/Ankit13ranjan/Workout-App"><h4>Workout App</h4></a>
                <p>Workout App that Consist of Different Exercise Based on their Timing.It has also Feature of BMI Calculations in US & Metric System Form.</p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-12 my-3">
            <div class="project_card p-3">
              <div class="d-flex justify-content-center align-items-center img-hover-zoom">
                <img class="w-75" src="/image/meme.jpeg">
              </div>
              <div class="my-3 text-white">
                
                <a href="https://github.com/Ankit13ranjan/Meme-Share-App"><h4>Meme App</h4></a>
                <p>A Android App that contains Different Memes On their Next Clicked Button.It has Feature of Sharing Memes through Different Platforms.</p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-12 my-3">
            <div class="project_card p-3">
              <div class="d-flex justify-content-center align-items-center img-hover-zoom">
                <img class="w-75" src="/image/spotify.jpeg">
              </div>
              <div class="my-3 text-white">
                <a href="https://github.com/Ankit13ranjan/spotify_clone"><h4>Spotify Clone</h4></a>
                <p>Spotify Clone is a Website that Contains Multiple Song to Play and have Different Options to go/play with it.A complete Frontend Website.</p>
              </div>
            </div>
          </div>
        </div>


        <div class="d-flex justify-content-center align-items-center">
                
                <div class="moreProjects d-flex justify-content-center align-items-center">
                  <a class="p-3 text-center" href="https://github.com/Ankit13ranjan?tab=repositories" download>
                    <b> Checkout More Projects  </b>
                  </a>
                </div>
              </div>



        

      </div>
    </section><!-- End Projects Section -->


    <section id="achievements" class="achievements">
      <div class="container">

        <div class="section-title">
          <span>Achievements</span>
          <h2>Achievements</h2>
        </div>

        <div class="box_edu p-3">

            
          <div class="d-flex">
            <div class="line2">
            </div>
            <div>
              <div class="exp2 d-flex justify-content-between">
                <div>
                  <p><b>Codekaze - Global Coding Competition</b></p>
                  <span>Rank 1 in College.</span>
                </div>
                <div>
                  <a href="https://drive.google.com/drive/folders/1eSQEM4sVcKUtRDrleXg8kpZ-Z6ng8zix"><img src="/image/Coding_Ninjas_logo.jpeg" width="43px"></a>
                </div>
                
              </div>

              <div class="exp2 d-flex justify-content-between">
                <div>
                  <p><b>Techgig - Coding Competition</b></p>
                  <span> AIR - 317 from 10,000+ open coding Round Contest.</span>
                </div>
                <div>
                  <a href="https://drive.google.com/drive/folders/1bA0EZ821jNtLzcu_yt7jIGt3O5b-b_Hz"><img src="/image/techgig.jpg" width="43px"></a>
                </div>
                
              </div>


              <div class="exp2 d-flex justify-content-between">
                <div>
                  <p><b>HackerRank</b></p>
                  <span>5* - Problem Solving , 5* - Cpp 650+ Points , 1700+ Points.</span>
                </div>
                <div>
                  <a href="https://www.hackerrank.com/ANKIT_RANJAN_13"><img src="/image/HackerRank_logo.png"width="43px"></a>
                </div>
                
              </div>

              

              <div class="exp2">
                <div class="d-flex justify-content-between">
                  <div>
                    <p><b>Codechef</b></p>
                    <span>3* - 1600+ Points</span> <br>
                    <span>8th - Global Rank in CODE Gun Contest</span>
                  </div>
                  <div>
                    <a href="https://www.codechef.com/users/ankit1331"><img src="/image/codechef_logo.png"width="43px"></a>
                  </div>
                  
                </div>


                <div class="d-flex mt-3 justify-content-between">
                  <div>
                    <p><b>CodeForces</b></p>
                    <span>949(Highest Rating)</span>
                  </div>
                  <div>
                    <a href="https://codeforces.com/profile/ankit1331"><img src="/image/codeforces.jpg"width="43px"></a>
                  </div>
                  
                </div>
              </div>

              <div class="exp2 d-flex justify-content-between">
                <div>
                  <p><b>GeeksforGeeks</b></p>
                  <span>1000+ Points in DSA.</span>
                </div>
                <div>
                  <a href="https://auth.geeksforgeeks.org/user/ranjanankit/practice/"><img src="/image/gfg-logo.png"width="43px"></a>
                </div>
                
              </div>

              <div class="exp2 d-flex justify-content-between">
                <div>
                  <p><b>800+  Question Solved on Different Websites.</b></p>
                </div>
                
                
              </div>


            </div>
            
  
          </div>


            

        

          
          
          
        
  

        </div>
      
      </div>

    </section>


    <!-- ======= Contact Me Section ======= -->
    <section id="contact" class="contact contactbg">
      <div class="container">

        <div class="section-title">
          <span>Contact Me</span>
          <h2>Contact Me</h2>
          <p>You can Contact Me through these ways.</p>
        </div>

        <div class="row">

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-share-alt"></i>
                  <h3>Social Profiles</h3>
                  <div class="social-links">
                    <a href="https://twitter.com/AnkitRa04493205" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="https://www.facebook.com/ankit.ranjan.756412" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="https://www.instagram.com/ankit__13_/?hl=en" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
                    <a href="https://www.linkedin.com/in/ankit-ranjan-685775193/" class="linkedin"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-envelope"></i>
                  <h3>Email Me</h3>
                  <a href = "mailto:ranjanankit1313@gmail.com?subject = Feedback&body = Message">
                    ranjanankit1313@gmail.com
                    </a>                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-phone-call"></i>
                  <h3>Call Me</h3>
                  <p>+91 6206731576</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            <div class="d-flex justify-content-center align-items-center m-5">
            <form action="/register" method="POST" role="form" >
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="phone" id="subject" placeholder="Phone" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
              </div>
              
              <div class="text-center m-3 "><button class="btn btn-primary" type="submit">Send Message</button></div>
            </form>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Contact Me Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="image">
      <h3 class="text-dark">Ankit Ranjan</h3>
      <p class="text-dark">Adding Bit By Bit.</p>
      <div class="social-links">
        <a href="https://twitter.com/AnkitRa04493205" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="https://www.facebook.com/ankit.ranjan.756412" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="https://www.instagram.com/ankit__13_/?hl=en" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="https://github.com/Ankit13ranjan" class="github"><i class="bi bi-github"></i></a>
                    <a href="https://www.linkedin.com/in/ankit-ranjan-685775193/" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      <div class="copyright">
        All Right Reserved
        &copy; 2023 <strong><span>Ankit</span></strong>.
      </div>
      
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>