<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/register" method="POST">
    <div class="mb-3">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter Your Name" name="name"/>
        </div>
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Enter Your Email Id" name="email"/>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter Your number" name="phone"/>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter Your Message" name="message"/>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>